## you don't need this file to build the package. but for development reasons...
build>=1.5.0
cycler>=0.12.1
kiwisolver>=1.5.0
defusedxml>=0.7.1
matplotlib>=3.4.3
netaddr>=0.8.0
numpy>=1.21.4
packaging>=26.2
pep517>=0.13.1
Pillow>=12.2.0
pip>=26.1.1
pyparsing>=3.3.2
python-dateutil>=2.9.0.post0
python-docx>=0.8.11
pyyaml>=6.0.3
setuptools>=82.0.1
six>=1.16.0
tomli>=2.4.1
wheel>=0.47.0
XlsxWriter>=3.0.2
fonttools>=4.62.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.23.1 # not directly required, pinned to avoid CVE-2024-5569
